body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #131313;
}
.header {
  margin-bottom: 138px;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  margin-left: 70px;
}
.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  padding-left: 10px;
}
.menu__link {
  text-transform: uppercase;
  padding: 0 20px;
  transition: all 0.3s;
}
.menu__link:hover {
  background-color: #131313;
  color: white;
  padding: 43px 20px;
}
.electro__baike {
  padding: 100px 0 150px;
}
.baike__inner {
  display: flex;
  justify-content: space-between;
}
.baike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.baike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px;
}
.baike__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
  margin: 0 0 60px;
}
.text__baike {
  line-height: 120%;
  margin-bottom: 20px;
  max-width: 420px;
}

.baike__btn {
  display: inline-block;
  margin-top: 80px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  font-family: "Inter", sans-serif;
  background-color: #131313;
  color: white;
  padding: 28px 91px;
  text-transform: uppercase;
}
.baike__btn:hover {
  background-color: #ff4040;
  transition: all 0.7s;
  box-shadow: 5px -2px 21px -5px rgba(34, 60, 80, 0.5);
}
.baike__slider {
  margin-bottom: 25px;
}
.baike__slider .slick-dots {
  right: 0;
  top: 50px;
}
.slick-dots {
  position: absolute;
}
.slick-dots li + li {
  padding-top: 10px;
}
.slick-dots button {
  font-size: 0;
  padding: 0;
  height: 25px;
  width: 2px;
  border-radius: 7px;
  border: none;
  background-color: #131313;
  cursor: pointer;
  position: relative;
}

.slick-dots button:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
}

.slick-dots button:hover {
  background-color: #ff4040;
  transition: all 0.3s;
}
.slick-active button {
  background-color: #ff4040;
}
.baike__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
.baike__list-item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 53px;
}
.baike__list-heigh {
  font-weight: 700;
  text-transform: uppercase;
}
.baike__list-low {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
}
.info {
  margin-bottom: 150px;
}

.info__inner {
  display: flex;
}
.info__img {
  margin-right: 60px;
  flex-basis: 570px;
  object-fit: cover;
}
.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}
.info__item-title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.info__item-text {
  max-width: 450px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}
.characteristics {
  margin-bottom: 150px;
}

.characteristics__inner {
  display: flex;
}
.characteristics__items {
  margin-right: 60px;
  flex-basis: 570px;
}
.characteristics__list + .characteristics__list {
  margin: 0;
  padding: 0;
  margin-top: 32px;
}
.characteristics__title1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}
.characteristics__title {
  font-weight: 700;
  margin-bottom: 13px;
  color: white;
  background: #131313;
  padding: 3px 0;
  text-transform: uppercase;
}
.characteristics__line {
  padding-top: 5px;
  display: flex;
}
.characteristics__name {
  margin: 0;
  flex-basis: 285px;
}
.characteristics__desc {
  margin: 0;
  padding-right: 10px;
  flex-basis: 285px;
}
.characteristics__img {
  flex-basis: 570px;
  align-self: center;
}
